In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [12]:
attrition_cat = attrition_df.dtypes[attrition_df.dtypes=='object'].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [14]:
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [15]:
enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [16]:
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [17]:
attrition_df.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_No',
       'Attrition_Yes', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [19]:
y = attrition_df['Attrition_Yes']
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [20]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First Hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = number_input_features, activation ='relu'))

# Second Hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation ='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ='sigmoid'))

nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 448
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [30]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
fit_model = nn.fit(X_train,y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 2s 4ms/step - loss: 459.5524 - accuracy: 0.8234
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 108.6591 - accuracy: 0.8150
Epoch 3/100
35/35 [==============================] - 0s 4ms/step - loss: 7.8741 - accuracy: 0.4417
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 2.9890 - accuracy: 0.3571
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1325 - accuracy: 0.7827
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 2.2196 - accuracy: 0.8208
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 1.7186 - accuracy: 0.8152
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3445 - accuracy: 0.8115
Epoch 9/100
35/35 [==============================] - 0s 5ms/step - loss: 1.0335 - accuracy: 0.8167
Epoch 10/100
35/35 [==============================] - 0s 5ms/step - loss: 0.7128 - accuracy: 0.8333
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7194 - accuracy: 0.8316
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7465 - accuracy: 0.8244
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6417 - accuracy: 0.8313
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7131 - accuracy: 0.8085
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5788 - accuracy: 0.8417
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5874 - accuracy: 0.8275
Epoch 17/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5681 - accuracy: 0.8182
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5635 - accuracy: 0.8217
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5485 - accuracy: 0.8313
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5336 - accuracy: 0.8508
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5360 - accuracy: 0.8386
Epoch 22/100
35/35 [==============================] - 0s 4ms/step - loss: 0.5465 - accuracy: 0.8095
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5347 - accuracy: 0.8229
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5101 - accuracy: 0.8516
Epoch 25/100
35/35 [==============================] - 0s 5ms/step - loss: 0.5170 - accuracy: 0.8321
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5216 - accuracy: 0.8244
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5198 - accuracy: 0.8231
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5153 - accuracy: 0.8237
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4880 - accuracy: 0.8557
Epoch 30/100
35/35 [==============================] - 0s 5ms/step - loss: 0.5029 - accuracy: 0.8309
Epoch 31/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5130 - accuracy: 0.8115
Epoch 32/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4822 - accuracy: 0.8454
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4908 - accuracy: 0.8341
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4893 - accuracy: 0.8341
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4931 - accuracy: 0.8271
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4980 - accuracy: 0.8174
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4699 - accuracy: 0.8447
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4819 - accuracy: 0.8290
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4726 - accuracy: 0.8373
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4903 - accuracy: 0.8184
Epoch 41/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4961 - accuracy: 0.8095
Epoch 42/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4770 - accuracy: 0.8307
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4666 - accuracy: 0.8368
Epoch 44/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4819 - accuracy: 0.8205
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4817 - accuracy: 0.8210
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4728 - accuracy: 0.8277
Epoch 47/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4661 - accuracy: 0.8327
Epoch 48/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4752 - accuracy: 0.8226
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4625 - accuracy: 0.8339
Epoch 50/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4848 - accuracy: 0.8140
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4500 - accuracy: 0.8439
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4542 - accuracy: 0.8382
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4765 - accuracy: 0.8195
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4744 - accuracy: 0.8209
Epoch 55/100
35/35 [==============================] - 0s 5ms/step - loss: 0.4487 - accuracy: 0.8389
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4819 - accuracy: 0.8131
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4600 - accuracy: 0.8294
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4720 - accuracy: 0.8194
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4869 - accuracy: 0.8097
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4643 - accuracy: 0.8262
Epoch 61/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4649 - accuracy: 0.8255
Epoch 62/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4538 - accuracy: 0.8345
Epoch 63/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4561 - accuracy: 0.8318
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4790 - accuracy: 0.8148
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4552 - accuracy: 0.8328
Epoch 66/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4768 - accuracy: 0.8170
Epoch 67/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4678 - accuracy: 0.8212
Epoch 68/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4666 - accuracy: 0.8238
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4613 - accuracy: 0.8279
Epoch 70/100
35/35 [==============================] - 0s 6ms/step - loss: 0.4642 - accuracy: 0.8256
Epoch 71/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4749 - accuracy: 0.8172
Epoch 72/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4629 - accuracy: 0.8264
Epoch 73/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4508 - accuracy: 0.8342
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4527 - accuracy: 0.8328
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4609 - accuracy: 0.8270
Epoch 76/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4570 - accuracy: 0.8296
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4524 - accuracy: 0.8318
Epoch 78/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4441 - accuracy: 0.8377
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4501 - accuracy: 0.8343
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4507 - accuracy: 0.8328
Epoch 81/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4261 - accuracy: 0.8500
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4686 - accuracy: 0.8210
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4482 - accuracy: 0.8355
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4407 - accuracy: 0.8395
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4765 - accuracy: 0.8157
Epoch 86/100
35/35 [==============================] - 0s 6ms/step - loss: 0.4577 - accuracy: 0.8287
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.8353
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.8366
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4485 - accuracy: 0.8342
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4518 - accuracy: 0.8313
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4514 - accuracy: 0.8326
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4626 - accuracy: 0.8251
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4598 - accuracy: 0.8269
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4776 - accuracy: 0.8143
Epoch 95/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4638 - accuracy: 0.8241
Epoch 96/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4566 - accuracy: 0.8290
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4588 - accuracy: 0.8274
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4749 - accuracy: 0.8163
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4572 - accuracy: 0.8279
Epoch 100/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4901 - accuracy: 0.8067

In [32]:
model_loss, model_accuracy = nn.evaluate(X_test,y_test, verbose=2)
print(f"Loss; {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.9774 - accuracy: 0.8641
Loss; 0.9774173498153687, Accuracy: 0.864130437374115